.App {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 5rem;
  min-height: 100vh;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
